@model SearchEvent
@inject SignInManager<User> signInManager
@{
    var doctor = User.IsInRole("Doctor");
    var student = User.IsInRole("Student");
    ViewData["Title"] = "Events List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var users = ViewBag.User as StudentManagement.Entities.User;
}
@if (student)
{
    <p>
        <a style="color: white; border-radius: 50rem !important" class="btn btn-info" asp-action="Create"><i class="fas fa-plus-circle" style="color:white"></i> 新規作成</a>
    </p>
}
<div class="card">

    <div class="row" style="margin-left:20px">
        <div class="col-12">
            <span class="mr-2">@users.UserName</span>
            <span class="m-2">(@users.StudentCode)</span>
            <span class="m-2">@ViewBag.SchoolYear</span>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <form asp-controller="Events" asp-action="Index" method="get">
                <div class="row">
                    <div class="col-9">
                        <select class="red_ space-left space-event-right outlinenone" asp-for="SchoolYearId" asp-items="@ViewBag.SchoolYearId">
                            <option value="">学年</option>
                        </select>
                        <span class="dash space-event-right"></span>
                        <select class="red_ outlinenone space-event-right" asp-for="ListEvent" asp-items="@ViewBag.ListEventId">
                            <option value="">イベント</option>
                        </select>
                        <span class="dash space-event-right"></span>
                        <strong class="space-event-right">ステータス</strong>
                        <input asp-for="checkbox1" type="checkbox"><span class="space-right"> 未確認</span>
                        <input asp-for="checkbox2" type="checkbox"><span class="space-right"> 確認中</span>
                        <input asp-for="checkbox3" type="checkbox"><span class="space-right"> 修了</span>

                        <button class="sizeIconSearch">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <table class="table table-bordered" id="mytbEvent">
            <thead class="thead-dark" style="background-color: #3e55df; color: white">
                <tr>
                    <th class="center">
                        学年
                    </th>
                    <th class="center">
                        イベント
                    </th>
                    <th class="center">
                        ステータス
                    </th>
                    <th class="center">
                        通知
                    </th>
                    @if (doctor || student)
                    {
                        <th class="center">
                            アクション
                        </th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.events)
                {
                    <tr>
                        <td class="center">
                            @foreach (var i in ViewBag.ListSchoolYearId)
                            {
                                @if (item.SchoolYearId == i.SchoolYearId)
                                {
                                    @i.SchoolYearName
                                }
                            }
                        </td>
                        <td>
                            <i class="@item.ListEvent.Icon"></i>
                            @item.ListEvent.ListEventName
                        </td>
                        <td class="center">
                            @if ((int)item.Status == 1)
                            {
                                <button class="btn btn-sm btn-info rounded-pill" style="box-shadow:none">未確認</button>
                            }
                            else if ((int)item.Status == 2)
                            {
                                <button class="btn btn-sm btn-warning rounded-pill" style="box-shadow:none;">確認中</button>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-success rounded-pill" style="box-shadow:none;">修了</button>
                            }
                        </td>
                        <td class="center">
                            <a asp-controller="Events" asp-action="Edit" asp-route-eventId="@item.EventId">
                                <i class="bi bi-bell-fill sizeicon" style="color: #03a9f4">
                                </i>
                            </a>
                        </td>
                        <td class="center">
                            @if (doctor)
                            {
                                if ((int)item.Status == 2)
                                {
                                    <button class="borderbut" onclick="changeStatus23(@item.EventId)"><i class="bi bi-check-lg" style="color: #03a9f4"></i></button>
                                }
                                else
                                {
                                    <i class="bi bi-check-lg" style="color:gray"></i>

                                }
                            }
                            else if (student)
                            {
                                if (!((int)item.Status == 3))
                                {
                                    <a asp-controller="Events" asp-action="Edit" asp-route-eventId="@item.EventId"><i class="bi bi-pencil-fill sizeicon" style="color: #03a9f4"></i></a>
                                    <button class="borderbut" onclick="getEvent(@item.EventId)"><i class="bi bi-trash-fill sizeicon" style="color: #e12315 "></i></button>
                                }
                                else
                                {
                                    <a class="borderbut"><i class="bi bi-pencil-fill sizeicon" style="color: gray"></i></a>
                                    <button class="borderbut"><i class="bi bi-trash-fill sizeicon" style="color: gray "></i></button>
                                }
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">確認</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                イベントを削除します。よろしいですか。
            </div>
            <div class="modal-footer">
                <button id="confirm" type="submit" class="btn btn-info rounded-pill" style="background-color: #2880f5">はい</button>
                <button type="button" class="btn btn-danger rounded-pill" style="background-color: #f14e86; border-color: #f76999;" data-bs-dismiss="modal">キャンセル</button>
            </div>
            <div id="select_detail">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cfModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">情報</h5>
                <button onclick="eventRegist.reload()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                終了しました。
            </div>
            <div class="modal-footer">
                <button onclick="eventRegist.reload()" id="close" type="button" class="btn btn-info rounded-pill" style="background-color: #2880f5 " data-bs-dismiss="modal">閉じる</button>
            </div>
            <div id="select_detail">
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <style>
        .rounded-pill {
            color: white;
            width: 23%;
        }

        .btn-success {
            background-color: #19dd21;
            border-color: #9af39e;
        }

        .borderbut {
            border: none;
            background: none;
        }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>
    <script>
        $("#mytbEvent").DataTable({
            "searching": false,
            "ordering": false,
            "bLengthChange": false,
            "bInfo": false,
            "language": {
                "paginate": {
                    "next": "»",
                    "previous": "«"
                }
            },
            "oLanguage": {
                "sEmptyTable": "テーブルにデータがありません"
            }
        });
        $(document).ready(function () {
            $('#mytbEvent').DataTable();
        });
    </script>
    <script>
        var eventRegist = {};
        function getEvent(id) {
            $('#basicModal').modal('show');
            $('button#confirm').click(function (e) {
                $('#basicModal').modal('hide');
                $.ajax({
                    url: "/Events/Delete/" + id,
                    success: function (result) {
                        if (result) {
                            $('#cfModal').modal('show');
                        }
                    }
                });
            });
            return false;
        };
        eventRegist.reload = function () {
            location.reload();
        }
    </script>
    <script>
        var eventRegist = {};
        function changeStatus23(id) {
            $('#basicModal').modal('show');
            $('button#confirm').click(function (e) {
                $('#basicModal').modal('hide');
                $.ajax({
                    url: "/Events/ChangeStatus23/" + id,
                    success: function (result) {
                        if (result) {
                            $('#cfModal').modal('show');
                        }
                    }
                });
            });
            return false;
        };
        eventRegist.reload = function () {
            location.reload();
        }
    </script>
}
