@model SearchEvent
@inject SignInManager<User> signInManager
@{
    var role = User.IsInRole("Doctor");
    ViewData["Title"] = "Events List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var users = ViewBag.User as StudentManagement.Entities.User;
}
<p>
    <a style="color:white" class="btn btn-info rounded-pill" asp-action="Create"><i class="fas fa-plus-circle" style="color:white"></i> Create Event</a>
</p>
<div class="card">

    <div class="row" style="margin-left:22px">
        <div class="col-12">
            <span class="mr-2">@users.UserName</span>
            <span class="m-2">(@users.StudentCode)</span>
            <span class="m-2">@ViewBag.SchoolYear</span>
        </div>
    </div>
    <hr />
    <form asp-controller="Events" asp-action="Index" method="get">
        <div style=" height: 50px;" class="row">
            <select class="col-1" style="height: 65%; border: none; border-bottom: 1px solid tomato; background: none; margin-right: 30px; margin-left: 30px;" asp-for="SchoolYear" asp-items="@ViewBag.SchoolYearId">
                <option value="">List Class</option>
            </select>
            <select class="col-2" style="height: 65%;border: none; border-bottom:  1px solid tomato; background: none; width: 8%; margin-right: 30px;" asp-for="ListEvent" asp-items="@ViewBag.ListEventId">
                <option value="">List Event</option>
            </select>
            <div class="col-1" style=" margin-top: 6px;">
                <strong>Status</strong>
            </div>
            <div class="col-md-2" style="margin-left: -65px; margin-top: 6px;">
                <input asp-for="checkbox1" type="checkbox"><span style="padding-right:4px;"> Unverify</span>
                <input asp-for="checkbox2" type="checkbox"><span style="padding-right:4px;"> Verifying</span>
                <input asp-for="checkbox3" type="checkbox"><span style="padding-right:4px;"> Verified</span>
            </div>
            <button class="col-1" style="margin-left: -16px; margin-top: -14px; border: 0; background-color: white; color: blue; font-size: 20px;">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
    <hr style="margin-top:0px" />
    <div class="card-body">
        <table class="table table-bordered" id="mytbEvent">
            <thead class="thead-dark" style="background-color: #3e55df; color: white">
                <tr>
                    <th style="text-align:center;">
                        School Year
                    </th>
                    <th style="text-align:center;">
                        Event
                    </th>
                    <th style="text-align:center;">
                        Status
                    </th>
                    <th style="text-align:center;">
                        Comments
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.events)
                {
                    <tr>
                        <td style="text-align:center;">@item.SchoolYear</td>
                        <td><i class="@item.ListEvent.Icon"></i> @item.ListEvent.ListEventName</td>
                        <td style="text-align:center;">
                            @if ((int)item.Status == 1)
                            {
                                <a class="btn btn-info rounded-pill">@item.Status</a>
                            }
                            else if ((int)item.Status == 2)
                            {
                                <a class="btn btn-warning rounded-pill">@item.Status</a>
                            }
                            else
                            {
                                <a class="btn btn-success rounded-pill">@item.Status</a>
                            }
                        </td>
                        <td style="text-align:center"><a asp-controller="Events" asp-action="Detail" asp-route-eventId="@item.EventId"><i class="bi bi-bell-fill" style="font-size: 20px; color: #03a9f4"></i></a></td>
                        <td style="text-align:center">
                            @if (role)
                            {
                                if ((int)item.Status == 2)
                                {
                                    <a href="#"><i class="bi bi-check-lg" style="color: #03a9f4"></i></a>
                                }
                                else
                                {
                                    <i class="bi bi-check-lg" style="color:gray"></i>

                                }
                            }
                            else
                            {
                                <a asp-controller="Events" asp-action="Edit" asp-route-eventId="@item.EventId"><i class="bi bi-pencil-fill" style="font-size: 20px; color: #03a9f4"></i></a>
                                <a asp-controller="Events" asp-action="Delete" asp-route-eventId="@item.EventId"><i class="bi bi-trash-fill" style="font-size: 20px; color: #e12315 "></i></a>

                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <script>
        $("#mytbEvent").DataTable({
            "searching": false,
            "ordering": false,
            "bLengthChange": false,
            "bInfo": false,
            "language": {
                "paginate": {
                    "next": "»",
                    "previous": "«"
                }
            }
        });
        $(document).ready(function () {
            $('#mytbEvent').DataTable();
        });
    </script>
}