@model IEnumerable<Student>

@{
    ViewData["Title"] = "List Student";
}
<form class="search-form d-flex align-items-center" method="POST" action="#">
    <input type="text" name="query" placeholder="Search" title="Enter search keyword">
    <button type="submit" title="Search"><i class="bi bi-search"></i></button>
</form>
<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-dark" style="background-color: #3e55df; color: white">
                <tr>

                    <th>
                        Student Code
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        School Year
                    </th>
                    <th>
                        Event
                    </th>
                    <th>
                        Skill
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.Roles.Contains("Student"))
                    {
                        <tr>
                            <td style="text-align:center">
                                @item.UserId
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @item.UserSchoolYears
                            </td>
                            <td>
                                <a asp-controller="Events" asp-action="Index" asp-route-userId="@item.UserId">@item.Events.Count</a> 
                            </td>
                            <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
