@model IEnumerable<Student>

@{
    ViewData["Title"] = "List Student";
}
<div class="card">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-7">
                    <input class="red_ outlinenone space-left space-right" placeholder="Search Name..." type="text">
                    <select class="red_ outlinenone space-right" style="padding-bottom:2px" asp-items="@ViewBag.SchoolYearId">
                    </select>
                    <select class="red_ outlinenone space-right" style="padding-bottom:2px" asp-items="@ViewBag.ListEventId">
                    </select>
                    <input class="red_ outlinenone space-right" placeholder="#Skill..." type="text">

                    <button class="sizeIconSearch">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-dark" style="background-color: #3e55df; color: white">
                <tr>

                    <th class="center">
                        Student Code
                    </th>
                    <th class="center">
                        Name
                    </th>
                    <th class="center">
                        学年
                    </th>
                    <th class="center">
                        イベント
                    </th>
                    <th class="center">
                        Skill
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.Roles.Contains("Student"))
                    {
                        <tr>
                            <td class="center">
                                @item.StudentCode
                            </td>
                            <td class="center">
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td class="center">
                                @item.UserSchoolYears
                            </td>
                            <td>
                                <a asp-controller="Events" asp-action="Index" asp-route-userId="@item.UserId">
                                    @foreach (var evn in item.Events)
                                    {

                                        <b>@evn.ListEvent.ListEventName</b>
                                    }
                                </a>
                            </td>
                            <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
